# Network
NEXT_PUBLIC_NETWORK=sepolia

# AVNU Paymaster — https://portal.avnu.fi
AVNU_API_KEY=

# Privy — https://dashboard.privy.io
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase — https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

